.workout-form {
    display: flex;
    gap: 55px;
    align-items: center;
    flex-wrap: wrap;
  
    mat-form-field {
      width: 200px;
    }
  
    button {
      margin-top: 8px;
    }
  }
  
  .addwork{
    color: rgb(87, 87, 197);
  }