<div class="container">
  <h1 class="title">Health Challenge Tracker</h1>

  <app-add-workout (workoutAdded)="refreshWorkouts()"></app-add-workout>

  <div class="filters">
    <mat-form-field appearance="outline">
      <mat-label>Search by Name</mat-label>
      <input matInput [(ngModel)]="searchText" (input)="onSearch()">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Filter by Workout Type</mat-label>
      <mat-select [(ngModel)]="workoutTypeFilter" (selectionChange)="onFilter()">
        <mat-option value="">All</mat-option>
        <mat-option value="Running">Running</mat-option>
        <mat-option value="Cycling">Cycling</mat-option>
        <mat-option value="Swimming">Swimming</mat-option>
        <mat-option value="Yoga">Yoga</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="workout-container">
    <app-workout-list 
    [workouts]="userData" 
    (userSelected)="selectUser($event)" 
    (paginate)="paginate($event)">
  </app-workout-list>

  <div class="chart-wrapper">
    <div class="user-list">
      <div class="user-buttons">
        <button 
          *ngFor="let user of userData" 
          (click)="selectUser(user)" 
          [class.selected]="selecteduser?.name === user.name">
          {{ user.name }}
        </button>
      </div>
    </div>
  
    <div class="workout-chart" *ngIf="selectedUserWorkouts.length > 0">
      <app-workout-chart [workouts]="selectedUserWorkouts"></app-workout-chart>
    </div>
  </div>
  
  </div> 

</div>
